body {
  position: relative;
  left: 25%;
  font-family: "Segoe UI";
  color: #999;
  top: 50px;
  background-color: #fafafa;

}

/* Left Column */

main img {
  width: 25%;

}

/* Right Column */

/* Sign-Up Box */
aside {
  position: relative;
  width: 25%;
  left: 25%;
  top: -550px;
}

.box-borders {
  border: solid #e6e6e6 1px;
  background-color: white;
}

.sign-up img {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-weight: 600;
  line-height: 20px;
  font-size: 17px;
}

.center-text {
  text-align: center;
  margin: 0% 5%;
}

.log-in {
  margin-top: 10px;
}

.button {
  margin: 20px;
  padding: 5px 0px;
  background-color: #3897f0;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  line-height: 18px;
}

.p-or {
  font-size: 13px;
  font-weight: 600;
}

.sign-up-field {
  background-color: #fafafa;
  border: solid #efefef 1px;
  border-radius: 3px;
  font-size: 12px;
  height: 36px;
  margin: 10px;
  padding: 2px;
}

.p-signup {
  font-size: 14px;
  margin: 0px 60px 40px;
}

/* Log In Box*/

.black-text {
  color: #262626;
  font-size: 14px;
}

.log-in {
  padding: 20px 30px;
}

.log-in p a {
  text-decoration: none;
}

/* Get the App */

.get-app p {
  margin: 20px;
}

.app-links {
  display: inline-block;
}

.app-links img {
  height: 40px;
}

/* Footer */

footer {
  position: relative;
  left: -200px;
  top: -500px;
  font-weight: 600;
}

footer ul li {
  display: inline-block;
  margin-right: 8px;
  font-size: 12px;
}

footer ul li a {
  color: #003569;
  text-decoration: none;
}

footer ul li span {
  margin-left: 200px;
}
